#mole-container {
  width: 960px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}

.mole-hole {
  width: 150px;
  height: 150px;
  background: tomato;
  cursor: pointer;
}

.active {
  background-image: url('diglet.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}